/**
 * Website Name: Mom's Stories
 */

/**
 *  Table of Contents:
 *
 *  1.0 - Reset
 *  2.0 - Header
 *  3.0 - Search
 *  3.0 - Content
 *    3.1 - Home Slider
 *	  3.2 - Contact
 *  2.0 - Media Queries
 * -----------------------------------------------------
 */

/**
 * Including CSS files and shortcodes
 */

@import url("fontawesome/css/font-awesome.css");


/**
 * Including Awesome Fonts
 */

@font-face {
	font-family: CyrillicChancellor;
	src: url("fonts/CyrillicChancellor.ttf");
}

@font-face {
	font-family: Isabella-Decor;
	src: url("fonts/Isabella-Decor.ttf");
}


/**
 *  1.0 - Reset
 *  Resetting and rebuilding styles
 *
 * -----------------------------------------------------
 */
* {
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:after, blockquote:before,
q:after, q:before {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

ol, ul {
	margin: 0 0 1.5em 2.5em;
}

ul {
	list-style: square;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
}

dl {
	margin: 0 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 1.5em;
}

strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

big {
	font-size: 120%;
}

cite, em, i {
	font-style: italic;
}

cite {
	border: 0;
}

blockquote {
	font-style: italic;
	background: #EFEFEF;
	clear: both;
	margin: 7px 35px 10px 45px;
	padding: 10px;
}

blockquote p {
	margin: 0;
	padding: 0;
}

blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

pre {
	font: 87.5% Courier, monospace;
	line-height: normal;
	background: rgba(0,0,0,.05);
	margin-bottom: 1.5em;
	padding: .75em 1.5em;
}

code, kbd {
	font: 13px Monaco, Consolas, monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins {
	background: #FFF9C0;
	text-decoration: none;
}

sub, sup {
	font-size: 62.5%;
	line-height: 1;
	position: relative;
	height: 0;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

input[type=text], textarea {
	border: 1px solid #E7E7E7;
}

textarea {
	width: 98%;
	padding-left: 3px;
}

address {
	display: block;
	margin: 0 0 1.625em;
}

table {
	width: 100%;
	margin: 0 0 1.625em;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

th {
	font-size: 14px;
	font-weight: 600;
	line-height: 2.6em;
	color: #666;
	letter-spacing: .1em;
}

td {
	padding: 6px 10px 6px 0;
	border-top: 1px solid #ddd;
}

p {
	margin-bottom: 15px;
}

img {
	height: auto;
	max-width: 100%;
}

.alignleft {
	display: inline;
	float: left;
	margin-left: 1.25em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.25em;
}

.aligncenter, .alignnone {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

img.aligncenter, img.alignleft,
img.alignnone, img.alignright {
	margin-bottom: 1.25em;
}

p img {
	margin-top: .4em;
}

.button {
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	background: #3082C4;
	padding: 14.4px 12px 13px;
	border: 0;
	color: #FFF !important;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.clear {
	clear: both;
}

.clearfix:after {
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	content: ".";
}

.clearfix {
	display: block;
}

.wt-video {
	margin-top: 10px;
	margin-bottom: 10px;
}

iframe.wt-video {
	max-width: 100% !important;
}


body {
	font-family: CyrillicChancellor, sans-serif;
	font-size: 16px;
	line-height: 20px;
	background: #F7F7F7;
	color: #232323;
}

a {
	color: #5DA1B1;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
	color: #279278;	/* green color */
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1em;
	padding-bottom: 10px;
	letter-spacing: -1px;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; line-height: 32px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 19px; }
h6 { font-size: 17px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #232323;
	text-decoration: none;
}

b, strong {
	font-weight: bold;
	color: #1C1C1C;
}

cite, dfn, em, i { font-style: italic; }
mark, ins { background: #FFF9C0; }

p {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 10px;
}

ul, ol { list-style: none; }
ul { list-style: disc; }
ol { list-style: decimal; }

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/**
 *  2.0 - Header
 * -----------------------------------------------------
 */

#Header {
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
	margin: 0 auto;
}

#logo {
	display: inline-block;
	width: 360px;
	height: 40px;
	float: left;
	
	margin-top: 30px;
	z-index: 50;
	position: absolute;
}

#logo a {
    display: block;
	
}

#logo a:hover {
	opacity: 0.6;
}

#menu {
	position: relative;
	z-index: 30;
	float: right;
	margin-top: 5px;
	padding-right: 60px;
    clear: both;
}

a.responsive-menu-toggle {
	display: none;
}

#menu ul {
	position: relative;
	z-index: 99;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#menu ul li a {
	font-size: 24px;
	font-weight: 300;
	line-height: 16px;
	display: block;
	padding: 18px 20px;
	color: #484848;
	text-align: center;
	text-decoration: none;
	-webkit-transition: border-bottom .05s ease;
	-moz-transition: border-bottom .05s ease;
	-ms-transition: border-bottom .05s ease;
	-o-transition: border-bottom .05s ease;
	transition: border-bottom .05s ease;
}

#menu > ul > .current-menu-item,
#menu ul li a:hover {
	border-bottom: 3px solid #5DA1B1;
}

#menu .menu-item-search {
	width: 70px;
}

#menu .menu-item-search a {
	display: block;
	text-indent: -999em;
}

/* login button */
#login {
	font-size: 20px;
	float: right;
	margin-right: 20px;
	padding: 5px 40px;
	background-color: #f3f3f3;
	color: #5DA1B1;
	text-decoration: none;
}

#logoutForm {
    display: inline;
    margin-left: 10px;
}

/* back-to top button */
#back-top {
	position: fixed;
	top: -60px;
	margin-left: 1210px;
	opacity: 0;
}

#back-top a {
	width: 40px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(../images/uparrow.png) no-repeat center center;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}



/**
 *  3.0 - Content
 * --------------------------------------------
 */

#Content {
	overflow: hidden;
	margin: 0 0 15px;
}

#Content .content {
	width: 80%;
	margin: 20px auto;
}

#Content h1.content-title,
#Content h1.page-title {
	margin-bottom: 12px;
	margin-top: 32px;
	padding-bottom: 5px;
	text-align: center;
	border-bottom: 2px solid #e6e6e6;
}

#Content h1.content-title a,
#Content h1.page-title {
	font-size: 42px;
	text-decoration: none;
}

#Content .post {
	background: #fff;
	box-shadow: 0 0 10px rgba(220, 220, 220, 1);
	margin: 20px 0;
	text-align: left;
	clear: both;
	overflow: hidden;
	position: relative;
}

#Content .post .post-image:hover {
	opacity: .9;
}

.content img {
	height: auto;
	max-width: 100%;
}

#Content .post .post-image {
	line-height: 0;
	position: relative;
	cursor: pointer;
	width: 340px;
	height: 240px;
	float: left;
	margin-right: 30px;
}

#Content .post-right {
	margin: 20px 20px 20px 0;
}

.post-right .audio {
	font-size: 22px;
	display: inline-block;
	color: #5DA1B1;
	background: #e5e5e5;
	padding: 10px 30px;
	right: 24px;
	top: 0;
	position: absolute;
	text-decoration: none;
    cursor: default;
}

.post-right .audio:hover {
	opacity: 0.7;
}

.post-right .entry-title {
	font-size: 36px;
	line-height: 36px;
	clear: none;
	margin-bottom: 0;
}

.post-right .entry-title a {
	text-decoration: none;
}

.post-right .entry-content {
	margin-bottom: 0;
}

.post-right .entry-meta {
	margin-bottom: 15px;
}

.post-right .entry-meta .date,
.post-right .entry-meta .author,
.post-right .entry-meta .like {
	margin-right: 10px;
	font-size: 18px;
}

.post-right .entry-meta .date i,
.post-right .entry-meta .author i,
.post-right .entry-meta .like i {
	font-size: 16px;
	color: #536672;
	padding-right: 6px;
}

.post-right .entry-meta .like {
    color: #5DA1B1;
    background: #f3f3f3;
    padding: 6px 12px;
    text-decoration: none;
}

.post-right .article-favorite,
.post-right .entry-meta .like,
.post-right .entry-meta .like i {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.post-right .entry-meta .like.is-selected {
    background: #5DA1B1;
    color: #FFF;
}

.post-right .entry-meta .like.is-selected i {
    color: #FFF;
}

.post-right .entry-meta .like:not(.is-selected):hover {
    background: #5DA1B1;
    color: #FFF;
}

.post-right .entry-meta .like:not(.is-selected):hover i {
    color: #FFF;
}

.post-right .entry-meta .like.is-selected:hover {
    background: #F3F3F3;
    color: #5DA1B1;
}

.post-right .entry-meta .like.is-selected:hover i {
    color: #536672;
}

.post-right .entry-content,
.post-right .entry-content p {
	font-size: 22px;
	line-height: 28px;
	color: #565656;
}

#Content .article .post-image {
	width: 450px;
	height: 300px;
}

.article .entry-content p {
	margin-left: 20px;
}

.article .article-top {
	display: inline-block;
	right: 24px;
	top: 0;
	position: absolute;
}

.article .article-top input[type=submit] {
	font-size: 22px;
	color: #5DA1B1;
	background: #E5E5E5;
	padding: 10px 20px;
    font-family: CyrillicChancellor, sans-serif;
    cursor: pointer;
    outline: none;
}

.article .article-top input[type=submit].is-selected {
	background: #5DA1B1;
	color: #FFF;
}

.article .article-top input[type=submit]:hover {
	opacity: 0.8;
}

.article .entry-title.top-space {
	margin-top: 55px;
}

.tags {
    margin-top: 12px;
    overflow: hidden;
    margin-bottom: 12px;
    list-style: none;
    margin-left: 10px;
}

.tags li, .tags a {
    float: left;
    height: 24px;
    line-height: 25px;
    position: relative;
    margin-bottom: 10px;
}

.tags a {
    margin-left: 20px;
    padding: 0 14px 0 16px;
    font-size: 20px;
    background: #5da1b1;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
} 

.tags a:before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #5da1b1 transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;		
}

.tags a:after {
    content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
	background: #fff;
}

.tags a:hover {
    opacity: 0.8;
}
.tags a:hover:before {
    border-color: transparent #5DA1B1 transparent transparent;
}

/* -------------------
	3.1 - Slider
-------------------- */

#slider .slider-info {
	max-width: 100%;
	/*opacity: .9;*/
	height: 540px;
	overflow: hidden;
	position: relative;
}

#slider .slider-info .is-slide  {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 30px 100px;
  position: absolute;
  overflow: hidden;
}

#slider .slider-info h2 {
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
}

#slider .slider-info a {
  color: #f3f3f3;
  text-decoration: none;
  font-family: CyrillicChancellor, sans-serif;
}

#slider .slider-info .is-slide .image  {
	float: none;
	width: 600px;
	height: 390px !important;
	margin: 10px auto 0;
	overflow: hidden;
}

#slider .is-bg-overflow {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

#slider .is-overflow, .is-bg-overflow {
	height: 100%;
}

#slider .ease {
	-webkit-transition: 1000ms ease all;
	-moz-transition: 1000ms ease all;
	-o-transition: 1000ms ease all;
	transition: 1000ms ease all;
}

#slider .bounce {
	-webkit-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
	-moz-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
	-o-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
	transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
}

#slider .no-animation {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

#slider .slider-info .is-slide .image img{
	max-width: 100%;
	display: block;
	width: 100%;
}

#slider .slider-info .is-slide .content {
	float: none;
	width: 50%;
	padding-right: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: white;
	text-align: left;
	line-height: 160%;
	vertical-align: middle;
	display: table-cell;
}

#slider .slider-info .is-slide .content h2{
	font-size: 42px;
	font-weight: 300;
	text-align: left;
}

#slider .is-container {
	position: relative;
	overflow: hidden;
}

#slider .is-container .is-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#slider .is-container .is-background img{
	width: 100%;
	height: 100%;
	left: 0;
	position: relative;
}

#slider .is-container .is-background.gs_cssblur {
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	filter: blur(20px);
}

#slider .is-pagination {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 20px;
	z-index: 5;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#slider .is-pagination li {
	padding: 0;
	display: inline-block;
	text-align: center;
	position: relative;
}

#slider .is-pagination li a{
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
}

#slider .is-pagination li a:before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	background: rgba(255,255,255,0.85);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#slider .is-pagination li a.active:before{
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid white;
	margin-top: -4px;
	left: 8px;
}

#slider .is-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	transition: all .6s ease-out;
	width: 9999px;
}

#slider .is-nav a {
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-indent: -999em;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: absolute;
	top: 46%;
	z-index: 1;
	cursor: pointer;
}

#slider .is-prev {
	background: url("../images/arrow-left-large.png") no-repeat center;
	left: 30px;
}

#slider .is-next {
	background: url("../images/arrow-right-large.png") no-repeat center;
	right: 30px;
}

/**
 *  2.0 - Authorization Form
 *
 */

.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 54, 66, 0.9);
	z-index: 999;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	-moz-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal input {
	font-family: CyrillicChancellor, sans-serif;
}

.cd-user-modal.is-visible {
	visibility: visible;
	opacity: 1;
}

.cd-user-modal.is-visible .cd-user-modal-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.cd-user-modal-container {
	position: relative;
	width: 90%;
	max-width: 600px;
	background: #FFF;
	margin: 3em auto 4em;
	cursor: auto;
	border-radius: 0.25em;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.cd-user-modal-container>ul {
	margin: 0;
	list-style: none;
}

.cd-user-modal-container .cd-switcher:after {
	content: "";
	display: table;
	clear: both;
}

.cd-user-modal-container .cd-switcher li {
	width: 50%;
	float: left;
	text-align: center;
	font-size: 20px;
}

.cd-user-modal-container .cd-switcher li:first-child a {
	border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
	border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	background: #d2d8d8;
	color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
	background: #FFF;
	color: #505260;
}

@media only screen and (min-width: 600px) {
	.cd-user-modal-container {
		margin: 4em auto;
	}

	.cd-user-modal-container .cd-switcher a {
		height: 70px;
		line-height: 70px;
	}
}

.cd-form {
	padding: 1.4em;
}

.cd-form .fieldset {
	position: relative;
	margin: 1.4em 0;
	/*margin-right: 70px;*/
}

.cd-form .fieldset.no-right-margin {
	font-size: 20px;
	margin-right: 0 !important;
}

.cd-form .fieldset:first-child {
	margin-top: 0;
}

.cd-form .fieldset:last-child {
	margin-bottom: 0;
}

.cd-form label {
	font-size: 14px;
	font-size: 0.875rem;
}

.cd-form label.image-replace {
	/* replace text with an icon */
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	text-shadow: none;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.cd-form label.cd-username {
	background-image: url("../images/cd-icon-username.svg");
}

.cd-form label.cd-email {
	background-image: url("../images/cd-icon-email.svg");
}

.cd-form label.cd-password {
	background-image: url("../images/cd-icon-password.svg");
}

.cd-form input {
	margin: 0;
	padding: 0;
	border-radius: 0.25em;
}

.cd-form input.full-width {
	width: 100%;
}

.cd-form input.has-padding {
	padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
	border: 1px solid #d2d8d8;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.cd-form input.has-border:focus {
	border-color: #343642;
	box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
	outline: none;
}

.cd-form input.has-error {
	border: 1px solid #d76666;
}

.cd-form input[type=submit] {
	padding: 16px 0;
	cursor: pointer;
	background: #2f889a;
	color: #FFF;
	font-weight: bold;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
	background: #3599ae;
	outline: none;
}

.cd-form .hide-password {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	padding: 6px 15px;
	/*margin-right: -50px;*/
	border-left: 1px solid #d2d8d8;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
	color: #343642;
}

.cd-form .signin-social {
	font-size: 20px;
	padding: 17px 24px 17px 50px;
	text-decoration: none;
	color: #fff;
	width: 100%;
	display: block;
	border-radius: 0.25em;
}

.cd-form #signin-facebook {
	background: #4A6EA9 url(../images/fb-icon.png) no-repeat 2% 50%;
}

.cd-form #signin-vk {
	background: #54769B url(../images/vk-icon.png) no-repeat 2% 50%;
	margin-top: -20px;
}

.cd-form .cd-error-message {
	display: inline-block;
	position: absolute;
	left: -5px;
	bottom: -35px;
	background: rgba(215, 102, 102, 0.9);
	z-index: 2;
	color: #FFF;
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 0.25em;
	/* prevent click and touch events */
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
	-moz-transition: opacity 0.2s 0, visibility 0 0.2s;
	transition: opacity 0.2s 0, visibility 0 0.2s;
}

.cd-form .cd-error-message::after {
	/* triangle */
	content: '';
	position: absolute;
	left: 22px;
	bottom: 100%;
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-form .cd-error-message.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s 0, visibility 0 0;
	-moz-transition: opacity 0.2s 0, visibility 0 0;
	transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
	.cd-form {
		padding: 2em;
	}

	.cd-form .fieldset {
		/*margin: 2em 0;*/
		/*margin-right: 73px;*/
	}

	.cd-form .fieldset:first-child {
		margin-top: 0;
	}

	.cd-form .fieldset:last-child {
		margin-bottom: 0;
	}

	.cd-form input.has-padding {
		padding: 16px 20px 12px 50px;
		font-size: 18px;
	}

	.cd-form input[type=submit] {
		padding: 16px 0;
	}
}

.cd-form-message {
	padding: 1.4em 1.4em 0;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.4;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.cd-form-message {
		padding: 2em 2em 0;
	}
}

.cd-form-bottom-message {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -30px;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
}

.cd-form-bottom-message a {
	color: #FFF;
	text-decoration: underline;
}

.cd-close-form {
	/* form X button on top right */
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: -40px;
	background: url("../images/cd-icon-close.svg") no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media only screen and (min-width: 1170px) {
	.cd-close-form {
		display: none;
	}
}

#cd-login, #cd-signup, #cd-reset-password {
	display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
	display: block;
}

/**
 *  Pagination
 *
 */

#pagination {
	width: 90%;
	max-width: 768px;
	margin: 2em auto 4em;
	text-align: center;
}

#pagination ul {
	list-style: none;
	margin: 0;
}

#pagination li {
	display: none;
	margin: 0 .2em;
}

#pagination li.control-button {
	display: inline-block;
}

#pagination a, #pagination span {
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 10px 15px;
	color: #2E4057;
}

#pagination a {
	font-family: "PT Sans", sans-serif;
	text-decoration: none;
	color: #2E4057;
	border: 1px solid #e6e6e6;
	border-radius: 0.25em;
}

#pagination .no-touch a:hover {
	background-color: #f2f2f2;
}

#pagination a:active {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

#pagination a.disabled {
	color: rgba(46, 64, 87, 0.4);
	pointer-events: none;
}

#pagination a.disabled::before,
#pagination a.disabled::after {
	opacity: .4;
}

#pagination .control-button:first-of-type a::before {
	content: '\00ab  ';
}

#pagination .control-button:last-of-type a::after {
	content: ' \00bb';
}

#pagination .current {
	background-color: #5DA1B1;
	border-color: #5DA1B1;
	color: #fff;
	pointer-events: none;
}

@media only screen and (min-width: 768px) {
	#pagination li {
		display: inline-block;
	}
}

#pagination ul::after {
	clear: both;
	content: "";
	display: table;
}

#pagination .control-button:first-of-type {
	float: left;
}

#pagination .control-button:last-of-type {
	float: right;
}

#pagination .control-button a {
	position: relative;
}

#pagination .control-button:first-of-type a {
	padding-left: 2.4em;
}

#pagination .control-button:last-of-type a {
	padding-right: 2.4em;
}

#pagination .control-button:first-of-type a::before,
#pagination .control-button:last-of-type a::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	top: 50%;
	margin-top: -8px;
	background: transparent url("../images/icon-arrow-pagination.svg") no-repeat center center;
}

#pagination .control-button:first-of-type a::before {
	left: .8em;
}

#pagination .control-button:last-of-type a::after {
	right: .8em;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 *  Contact page
 *
 */

#Content .contact {
	background: #fff;
    padding: 1px 0 1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.contact-wrap {
	font-size: 20px;
	width: 80%;
	margin: 30px auto 0;
}

.map {
	margin: 30px 0 10px;
	-webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}

.contact-page .msgbox-error,
.contact-page .msgbox-success {
	background-color: #F5F5F5;
	border-left: 10px solid #47A8E4;
	margin: 0 -25px 15px;
	padding: 15px 25px 15px 15px;
}

.contact-page .contact-text {
	margin-bottom: 20px;
}

.contact-page .contact-form .error {
	float: left;
	color: #EC0000;
	margin-top: 5px;
	font-size: 17px;
	width: 100%;
}

.contact-page .contact-form .row-half {
	width: 48%;
	float: left;
	overflow: hidden;
}

.contact-page .contact-form .row {
	overflow: hidden;
	margin-bottom: 30px;
}

.contact-page .contact-form .row-half input[type="text"] {
	width: 90%;
}

.contact-page #sender_email {
	width: 90%;
}

.contact-page .contact-form .message-field input[type="text"] {
	width: 95%;
}

.contact-page .contact-form .right {
	margin-left: 20px;
	width: 49%;
}

.contact-page .contact-form label {
	font-size: 19px;
	font-weight: 700;
	display: block;
	margin-bottom: 3px;
	color: #333;
}

.contact-page .contact-form label span {
	font-size: 15px;
	font-weight: normal;
	margin-left: 15px;
	color: #BCBCBC;
}

.contact-page .contact-form input[type="text"],
.contact-page .contact-form input[type="email"],
.contact-page .contact-form textarea {
	font-family: inherit;
	font-size: 17px;
	display: block;
	margin: 0;
	padding: 14px;
	border: 1px solid #E6E6E6;
	color: #AEAEAE;
}

.contact-page .contact-form textarea {
	width: 95%;
	height: 250px;
}

.contact-page .contact-address {
	width: 300px;
	float: left;
	margin-left: 30px;
}

.contact-page .contact-address ul {
	margin: 10px 0 30px;
	padding: 0;
	list-style: none;
}

.contact-page #form_submit {
	font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    background: #5DA1B1;
    padding: 16px 20px 13px;
    border: 0;
    color: #FFF !important;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

/**
 *  Audio Player
 *
 */

.article .entry-content {
	margin-top: 90px;
}

.player {
	width: 47%;
	right: 20px;
	position: absolute;
	margin-top: 10px;
	margin-bottom: 30px;
}

.audioplayer {
	height: 2.5em; /* 40 */
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	border: 1px solid #222;
	position: relative;
	z-index: 1;
	background: #333;
	background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
	background: -webkit-linear-gradient( top, #444, #222 );
	background: -moz-linear-gradient( top, #444, #222 );
	background: -ms-radial-gradient( top, #444, #222 );
	background: -o-linear-gradient( top, #444, #222 );
	background: linear-gradient( top, #444, #222 );
	-webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
	-moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
	box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.audioplayer-mini {
	width: 2.5em; /* 40 */
	margin: 0 auto;
}

.audioplayer > div {
	position: absolute;
}

.audioplayer-playpause {
	width: 2.5em; /* 40 */
	height: 100%;
	text-align: left;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 2;
	top: 0;
	left: 0;
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
}

.audioplayer-mini .audioplayer-playpause {
	width: 100%;
}

.audioplayer-playpause:hover,
.audioplayer-playpause:focus {
	background-color: #222;
}

.audioplayer-playpause a {
	display: block;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
	width: 0;
	height: 0;
	border: 0.5em solid transparent; /* 8 */
	border-right: none;
	border-left-color: #fff;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.5em 0 0 -0.25em; /* 8 4 */
}

.audioplayer-playing .audioplayer-playpause a {
	width: 0.75em; /* 12 */
	height: 0.75em; /* 12 */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.375em 0 0 -0.375em; /* 6 */
}

.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after {
	width: 40%;
	height: 100%;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 0;
}

.audioplayer-playing .audioplayer-playpause a:before {
	left: 0;
}

.audioplayer-playing .audioplayer-playpause a:after {
	right: 0;
}

.audioplayer-time {
	width: 4.375em; /* 70 */
	height: 100%;
	line-height: 2.375em; /* 38 */
	text-align: center;
	z-index: 2;
	top: 0;
}

.audioplayer-time-current {
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	left: 2.5em; /* 40 */
}

.audioplayer-time-duration {
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
	right: 2.5em; /* 40 */
}

.audioplayer-novolume .audioplayer-time-duration {
	border-right: 0;
	right: 0;
}

.audioplayer-bar {
	height: 0.875em; /* 14 */
	background-color: #222;
	cursor: pointer;
	z-index: 1;
	top: 50%;
	right: 6.875em; /* 110 */
	left: 6.875em; /* 110 */
	margin-top: -0.438em; /* 7 */
}

.audioplayer-novolume .audioplayer-bar {
	right: 4.375em; /* 70 */
}

.audioplayer-bar div {
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.audioplayer-bar-loaded {
	background-color: #333;
	z-index: 1;
}

.audioplayer-bar-played {
	background: #007fd1;
	background: -webkit-gradient( linear, left top, right top, from( #007fd1 ), to( #c600ff ) );
	background: -webkit-linear-gradient( left, #007fd1, #c600ff );
	background: -moz-linear-gradient( left, #007fd1, #c600ff );
	background: -ms-radial-gradient( left, #007fd1, #c600ff );
	background: -o-linear-gradient( left, #007fd1, #c600ff );
	background: linear-gradient( left, #007fd1, #c600ff );
	z-index: 2;
}

.audioplayer-volume {
	width: 2.5em; /* 40 */
	height: 100%;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	text-align: left;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 2;
	top: 0;
	right: 0;
}

.audioplayer-volume:hover,
.audioplayer-volume:focus {
	background-color: #222;
}

.audioplayer-volume-button {
	width: 100%;
	height: 100%;
}

.audioplayer-volume-button a {
	width: 0.313em; /* 5 */
	height: 0.375em; /* 6 */
	background-color: #fff;
	display: block;
	position: relative;
	z-index: 1;
	top: 40%;
	left: 35%;
}

.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
	content: '';
	position: absolute;
}

.audioplayer-volume-button a:before {
	width: 0;
	height: 0;
	border: 0.5em solid transparent; /* 8 */
	border-left: none;
	border-right-color: #fff;
	z-index: 2;
	top: 50%;
	right: -0.25em;
	margin-top: -0.5em; /* 8 */
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
	width: 0.313em; /* 5 */
	height: 0.313em; /* 5 */
	border: 0.25em double #fff; /* 4 */
	border-width: 0.25em 0.25em 0 0; /* 4 */
	left: 0.563em; /* 9 */
	top: -0.063em; /* 1 */
	-webkit-border-radius: 0 0.938em 0 0; /* 15 */
	-moz-border-radius: 0 0.938em 0 0; /* 15 */
	border-radius: 0 0.938em 0 0; /* 15 */
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
}

.audioplayer-volume-adjust {
	height: 6.25em; /* 100 */
	cursor: default;
	position: absolute;
	left: 0;
	right: -1px;
	top: -9999px;
	background: #222;
	background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
	background: -webkit-linear-gradient( top, #444, #222 );
	background: -moz-linear-gradient( top, #444, #222 );
	background: -ms-radial-gradient( top, #444, #222 );
	background: -o-linear-gradient( top, #444, #222 );
	background: linear-gradient( top, #444, #222 );
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
	opacity: 0;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
	top: auto;
	bottom: 100%;
}

.audioplayer-volume-adjust > div {
	width: 40%;
	height: 80%;
	background-color: #222;
	cursor: pointer;
	position: relative;
	z-index: 1;
	margin: 30% auto 0;
}

.audioplayer-volume-adjust div div {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #007fd1;
	background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #c600ff ) );
	background: -webkit-linear-gradient( bottom, #007fd1, #c600ff );
	background: -moz-linear-gradient( bottom, #007fd1, #c600ff );
	background: -ms-radial-gradient( bottom, #007fd1, #c600ff );
	background: -o-linear-gradient( bottom, #007fd1, #c600ff );
	background: linear-gradient( bottom, #007fd1, #c600ff );
}

.audioplayer-novolume .audioplayer-volume {
	display: none;
}

.audioplayer-play,
.audioplayer-pause,
.audioplayer-volume a {
	-webkit-filter: drop-shadow( 1px 1px 0 #000 );
	-moz-filter: drop-shadow( 1px 1px 0 #000 );
	-ms-filter: drop-shadow( 1px 1px 0 #000 );
	-o-filter: drop-shadow( 1px 1px 0 #000 );
	filter: drop-shadow( 1px 1px 0 #000 );
}

.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.audioplayer-bar,
.audioplayer-volume-adjust > div {
	-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
}

.audioplayer-volume-adjust div div,
.audioplayer-bar-played {
	-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	-moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
}

.audioplayer-volume-adjust {
	-webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	-moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
}

.audioplayer *,
.audioplayer *:before,
.audioplayer *:after {
	-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}

/**
 *  2.0 - Media Queries
 *
 */

/* fix bag for showing Header Navigation */
@media only screen and (min-width: 1024px) {
	#Header #menu {
		display: block !important;
	}
}

/* 2.1 - For media between 0px and 1259px */
@media only screen and (max-width: 1259px) {
	#Content .content {
		width: 100%;
	}
}

/* 2.2 - Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1259px) {
	.container {
		width: 940px;
	}

	#menu ul li a {
		padding: 18px 15px;
	}

	#back-top {
		margin-left: 960px;
	}
}

/* 2.3 - For media between 0 and 1023px */
@media only screen and (max-width: 1023px) {
	#Header {
		height: 100px;
	}

	#Header .container {
		position: relative;
	}

	a.responsive-menu-toggle {
		font-size: 18px;
		line-height: 38px;
		position: absolute;
		top: 40px;
		right: 60px;
		display: block;
		width: 33px;
		height: 33px;
		background: #EFF1F2;
		color: #5B6977;
		text-align: center;
		text-decoration: none;
	}

	#menu ul li a:hover {
		border-bottom: none;
		background-color: #085A73;
	}

	#menu ul li.menu-item-search {
		width:100%;
	}

	#menu ul li.menu-item-search a {
		background: url(../images/cd-icons2.svg) no-repeat 50% 50%;
	}

	#menu ul li.current-menu-item {
		border-bottom: none;
		background: #085A73;
	}

	#menu {
		position: absolute;
		top: 50px;
		right: 0;
		z-index: 101;
		display: none;
		width: 280px;
		background: rgba(28, 110, 169, 0.9);
		margin-top: 20px;
	}

	#menu ul li {
		position: relative;
		z-index: 203;
		display: inline-block;
		margin: 0;
	}

	#menu ul,
	#menu ul li {
		width: 280px;
	}

	#menu ul li a {
		font-size: 22px;
		font-weight: normal !important;
		padding: 15px 20px;
		color: #fff;
		text-align: left;
		white-space: nowrap;
	}

	#back-top {
		margin-left: 660px;
	}

	#slider .slider-info {
		height: 500px;
	}

	#slider .slider-info .is-slide .image {
		width: 500px;
	}

	#Content .post .post-image {
		width: 100%;
		height: 260px;
		margin-bottom: 10px;
	}

	#Content .post-right {
		margin-left: 20px;
	}

	.contact-wrap {
		width: 100%;
		padding: 0 0px 0 20px;
	}

	.player {
		width: 94%;
	}

	.article .entry-content p {
		margin-left: 0;
	}
}

@media only screen and (min-width: 400px) and (max-width: 710px) {
	#slider .slider-info {
		height: 400px;
	}

	#slider .slider-info .is-slide .image {
		width: 350px;
	}
}

/* 2.4 - Tablet Portrait */
@media only screen and (min-width: 660px) and (max-width: 1023px) {
	.container {
		width: 640px;
	}

	.contact-page .contact-form .right {
		width: 48.5%;
	}
}

/* 2.5 - Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 659px) {
	.container {
		width: 460px;
	}

	#login {
		margin-right: 5px;
		padding: 5px 30px;
	}

	a.responsive-menu-toggle {
		right: 35px;
	}

	#slider .slider-info {
		height: 400px;
	}

	#slider .slider-info .is-slide .image {
		width: 300px;
	}

	.contact-page .contact-form .row-half {
		width: 100%;
		float: none;
		overflow: visible;
	}

	.contact-page .contact-form .right {
		margin-left: 0;
		width: 100%;
		margin-top: 20px;
	}

	.contact-page .contact-form input[type="text"],
	.contact-page #sender_email,
	.contact-page textarea {
		width: 93.5% !important;
	}

	.player {
		width: 92%;
	}
}

/* 2.6 - Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	.container {
		width: 100%;
	}

	#Header {
		padding-bottom: 150px;
	}

	#logo {
		width: 100%;
		height: 100%;
		z-index: 50;
	}

	#logo a {
		text-align: center;
	}

	#logo img {
		width: 100%;
	}

	#menu {
		display: block;
		top: 130px;
		width: 100%;
	}

	#menu ul,
	#menu ul li,
	#menu ul .menu-item-home,
	#menu ul li ul {
		width: 100%;
	}

	#menu ul li a {
		text-align: center;
	}

	a.responsive-menu-toggle {
		display: none;
	}

	#back-top {
		display: none;
	}

	#Content {
		margin-top: 210px;
	}

	#login {
		margin-top: 100px;
		margin-right: 10px;
	}

	#slider .slider-info {
		height: 300px;
	}

	#slider .slider-info .is-slide .image {
		width: 230px;
	}

	#Content .content {
		width: 100%;
	}

	#Content .contact {
		width: 95%;
	}

	.contact-page .contact-form .row-half {
		width: 100%;
		float: none;
		overflow: hidden;
	}

	.contact-page .contact-form .right {
		margin-left: 0;
		margin-top: 30px;
		width: 100%;
	}

	.contact-page .contact-form .message-field input[type="text"],
	.contact-page textarea {
		width: 90% !important;
	}

	.player {
		width: 90%;
	}
}

.cd-main-header::before {
	/* never visible - this is used in jQuery to check the current MQ */
	display: none;
	content: 'mobile';
}
@media only screen and (min-width: 1024px) {

	.cd-main-header.nav-is-visible {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.cd-main-header::before {
		content: 'desktop';
	}
}

/* --------------------------------
Patterns - reusable parts of our design
-------------------------------- */
.cd-text-replace {
	/* replace text with image */
	color: transparent;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

/* --------------------------------
Search Form
-------------------------------- */
.cd-main-nav input[type="text"] {
	display: block;
	font-size: 1.6rem;
	padding: 0 2em 0 1em;
	line-height: 50px;
	color: #ffffff;
	border-bottom: 1px solid #333545;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.cd-main-nav input[type="text"] {
	background-color: #888888;
	color: white;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.cd-main-nav input[type="text"]:focus {
	background-color: #333545;
}

.cd-main-search .cd-select {
	/* hide select element on small devices */
	display: none;
}
.cd-main-search .close {
	/* 'X' icon to close search form - hidden on small devices */
	display: none;
}
.cd-main-search input[type="text"] {
	border: none;
	width: 100%;
	color: #ffffff;
}
.cd-main-search input[type="text"]:focus {
	outline: none;
}
.cd-main-search input[type="text"]::-webkit-input-placeholder {
	color: #5c5d6a;
}
.cd-main-search input[type="text"]::-moz-placeholder {
	color: #5c5d6a;
}
.cd-main-search input[type="text"]:-moz-placeholder {
	color: #5c5d6a;
}
.cd-main-search input[type="text"]:-ms-input-placeholder {
	color: #5c5d6a;
}
@media only screen and (min-width: 1024px) {
	.cd-main-search {
		position: absolute;
		z-index: 40;
		top: 0;
		left: 0;
		height: 100px;
		width: 100%;
		background: #888888;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 0.3s, visibility 0.3s;
		-moz-transition: opacity 0.3s, visibility 0.3s;
		transition: opacity 0.3s, visibility 0.3s;
	}
	.cd-main-search form {
		position: relative;
		height: 100%;
		/* 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo) */
		/* 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.close */
		margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
	}
	.cd-main-search input[type="text"] {
		font-size: 2.4rem;
		height: 100%;
		background-color: transparent;
		/* don't overlap <select> element */
		padding-right: 170px;
		padding-left: 250px;
	}
	.cd-main-search .cd-select {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		color: #5c5d6a;
		font-size: 1.4rem;
		overflow: hidden;
	}
	.cd-main-search span {
		display: inline-block;
	}
	.cd-main-search option {
		/* style <option> elements on Firefox */
		color: #333545;
		background-color: #ffffff;
	}
	.cd-main-search select {
		/* the <select> element is not visible (if the list of options is not open) -  it is covered by the .selected-value element */
		position: absolute;
		right: 0;
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity: 0;
		color: transparent;
	}
	.cd-main-search select:focus {
		outline: none;
	}
	.cd-main-search select:focus + span.selected-value {
		background-color: #3d3f4e;
	}
	.cd-main-search .selected-value {
		/* this <span> element covers the <select> element - its content is changed (using JavaScript) and set equal to the selected <option> value */
		/* its width automatically changes according to the text of the selected <option> (not possible with a <select> element) */
		color: #ffffff;
		/* clicking on this element will open the <select> drop-down list */
		pointer-events: none;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
	.cd-main-search select, .cd-main-search .selected-value {
		padding: 0.5em 1.7em 0.5em .3em;
		font-size: 1.6rem;
		border-radius: 3px;
	}
	.no-pointerevents .cd-main-search .selected-value {
		/* if the browser doesn't support the pointer-events property, hide the .selected-value element */
		display: none;
	}
	.no-pointerevents .cd-main-search select {
		/* if the browser doesn't support the pointer-events property, show the <select> element */
		position: relative;
		color: #ffffff;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.no-pointerevents .cd-main-search select:focus {
		background-color: #3d3f4e;
	}
	.cd-main-search .close {
		/* 'X' icon - used to close the search form */
		display: inline-block;
		position: absolute;
		right: 5%;
		top: 50%;
		height: 40px;
		width: 40px;
		-webkit-transform: translateY(-50%) scale(0);
		-moz-transform: translateY(-50%) scale(0);
		-ms-transform: translateY(-50%) scale(0);
		-o-transform: translateY(-50%) scale(0);
		transform: translateY(-50%) scale(0);
		-webkit-transition: -webkit-transform 0.3s;
		-moz-transition: -moz-transform 0.3s;
		transition: transform 0.3s;
	}

	.cd-main-search .search {
		/* 'X' icon - used to close the search form */
		display: inline-block;
		position: absolute;
		right: 9%;
		top: 50%;
		height: 40px;
		width: 40px;
		background: #dd85ac url("../images/search.png") no-repeat center;
		border-radius: 50%;
		-webkit-transform: translateY(-50%) scale(0);
		-moz-transform: translateY(-50%) scale(0);
		-ms-transform: translateY(-50%) scale(0);
		-o-transform: translateY(-50%) scale(0);
		transform: translateY(-50%) scale(0);
		-webkit-transition: -webkit-transform 0.3s;
		-moz-transition: -moz-transform 0.3s;
		transition: transform 0.3s;
	}
	
	.cd-main-search .close::before, .cd-main-search .close::after {
		/* used to create the 'X' icon in css */
		content: '';
		position: absolute;
		height: 20px;
		width: 2px;
		background-color: #ffffff;
		left: 50%;
		top: 50%;
	}
	.cd-main-search .close::before {
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	}
	.cd-main-search .close::after {
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
	.cd-main-search.is-visible {
		/* search form open */
		opacity: 1;
		visibility: visible;
	}
	.cd-main-search.is-visible .close {
		-webkit-transform: translateY(-50%) scale(1);
		-moz-transform: translateY(-50%) scale(1);
		-ms-transform: translateY(-50%) scale(1);
		-o-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
	.cd-main-search.is-visible .search {
		-webkit-transform: translateY(-50%) scale(1);
		-moz-transform: translateY(-50%) scale(1);
		-ms-transform: translateY(-50%) scale(1);
		-o-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
	.animate-search .cd-main-search.is-visible {
		/* trigger search form animation if <header> has the .animate-search class */
		-webkit-animation: cd-slide-in 0.3s;
		-moz-animation: cd-slide-in 0.3s;
		animation: cd-slide-in 0.3s;
	}
}

@-webkit-keyframes cd-slide-in {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes cd-slide-in {
	0% {
		-moz-transform: translateY(-100%);
	}
	100% {
		-moz-transform: translateY(0);
	}
}
@keyframes cd-slide-in {
	0% {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
.cd-search-suggestions {
	/* drowpdown with search suggestions - hidden on small devices */
	display: none;
}
@media only screen and (min-width: 1024px) {
	.cd-search-suggestions {
		display: block;
		position: absolute;
		top: 100px;
		right: 0;
		width: 50%;
		/* same width of <form> element */
		padding: 2em;
		/* same margin of <form> element */
		margin-right: 200px;
		background-color: #ffffff;
		box-shadow: 0 4px 40px rgba(0, 0, 0, 0.39);
	}
	.cd-search-suggestions::after {
		clear: both;
		content: "";
		display: table;
	}
	.cd-search-suggestions .quick-links, .cd-search-suggestions .news {
		display: inline-block;
	}
	.cd-search-suggestions .quick-links {
		float: right;
		width: 140px;
		text-align: right;
	}
	.cd-search-suggestions .news {
		float: left;
		width: calc(100% - 140px);
	}
	.cd-search-suggestions h3 {
		margin-bottom: 1.5em;
		text-transform: uppercase;
		color: #7a7c86;
		font-size: 1.2rem;
		font-weight: bold;
		letter-spacing: .1em;
	}
	.cd-search-suggestions h4 {
		font-weight: bold;
		font-size: 1.4rem;
	}
	.cd-search-suggestions h4 a {
		/* prevent the text from wrapping */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		padding: .2em 0;
	}
	.cd-search-suggestions a {
		display: inline-block;
		color: #333545;
	}
	.no-touch .cd-search-suggestions a:hover {
		opacity: .8;
	}
	.cd-search-suggestions .author {
		font-size: 1.2rem;
		color: #70727d;
	}
	.cd-search-suggestions .news li {
		position: relative;
		padding: 0.625em 0.75em 0.75em 4em;
		margin-bottom: 0.25em;
	}
	.cd-search-suggestions .news li:last-of-type {
		margin-bottom: 0;
	}
	.cd-search-suggestions .image-wrapper {
		position: absolute;
		left: 0;
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
	}
	.cd-search-suggestions .image-wrapper img {
		display: block;
	}
	.cd-search-suggestions .quick-links a {
		padding: .5em 0;
		font-size: 1.4rem;
		line-height: 1.2;
	}
	.animate-search .is-visible .cd-search-suggestions {
		/* trigger the dropdown animation if <header> has the .animate-search class */
		-webkit-transform-origin: center top;
		-moz-transform-origin: center top;
		-ms-transform-origin: center top;
		-o-transform-origin: center top;
		transform-origin: center top;
		/* Force Hardware Acceleration */
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-animation: cd-3d-rotation 0.5s 0.3s;
		-moz-animation: cd-3d-rotation 0.5s 0.3s;
		animation: cd-3d-rotation 0.5s 0.3s;
		-webkit-animation-fill-mode: backwards;
		-moz-animation-fill-mode: backwards;
		animation-fill-mode: backwards;
	}
}

@-webkit-keyframes cd-3d-rotation {
	0% {
		-webkit-transform: perspective(1000px) rotateX(-90deg);
	}
	100% {
		-webkit-transform: perspective(1000px) translateY(0);
	}
}
@-moz-keyframes cd-3d-rotation {
	0% {
		-moz-transform: perspective(1000px) rotateX(-90deg);
	}
	100% {
		-moz-transform: perspective(1000px) translateY(0);
	}
}
@keyframes cd-3d-rotation {
	0% {
		-webkit-transform: perspective(1000px) rotateX(-90deg);
		-moz-transform: perspective(1000px) rotateX(-90deg);
		-ms-transform: perspective(1000px) rotateX(-90deg);
		-o-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
	100% {
		-webkit-transform: perspective(1000px) translateY(0);
		-moz-transform: perspective(1000px) translateY(0);
		-ms-transform: perspective(1000px) translateY(0);
		-o-transform: perspective(1000px) translateY(0);
		transform: perspective(1000px) translateY(0);
	}
}
.cd-search-trigger {
	/* trigger serach form visibility - hidden on small devices */
	display: none;
}
@media only screen and (min-width: 1024px) {
	.cd-search-trigger {
		display: block;
		position: absolute;
		right: 0;
		z-index: 50;
		height: 40px;
		width: 40px;
		margin-top: 5px;
		margin-left: .5em;
		margin-right: .5em;
		-webkit-transition: -webkit-transform 0.3s;
		-moz-transition: -moz-transform 0.3s;
		transition: transform 0.3s;
	}
	.cd-search-trigger::after, .cd-search-trigger:before {
		/* used to create the icon lens and the background circle */
		content: '';
		position: absolute;
	}
	.cd-search-trigger::after {
		/* icon lens */
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		height: 16px;
		width: 16px;
		background: url(../images/cd-icons.svg) no-repeat -16px 0;
	}
	.cd-search-trigger::before {
		/* background circle */
		left: 50%;
		top: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%) scale(0);
		-moz-transform: translateX(-50%) translateY(-50%) scale(0);
		-ms-transform: translateX(-50%) translateY(-50%) scale(0);
		-o-transform: translateX(-50%) translateY(-50%) scale(0);
		transform: translateX(-50%) translateY(-50%) scale(0);
		height: 100%;
		width: 100%;
		background-color: #dd85ac;
		border-radius: 50%;
		-webkit-transition: -webkit-transform 0.3s;
		-moz-transition: -moz-transform 0.3s;
		transition: transform 0.3s;
	}
	.no-touch .cd-search-trigger:hover::before {
		background-color: #df8bb0;
	}
	.cd-search-trigger.search-form-visible {
		-webkit-transform: translateX(-20px) translateY(-10px);
		-moz-transform: translateX(-20px) translateY(-10px);
		-ms-transform: translateX(-20px) translateY(-10px);
		-o-transform: translateX(-20px) translateY(-10px);
		transform: translateX(-20px) translateY(-10px);
	}
	.cd-search-trigger.search-form-visible::before {
		-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
		-moz-transform: translateX(-50%) translateY(-50%) scale(1);
		-ms-transform: translateX(-50%) translateY(-50%) scale(1);
		-o-transform: translateX(-50%) translateY(-50%) scale(1);
		transform: translateX(-50%) translateY(-50%) scale(1);
	}
}

select, input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: none;
}

input[type="search"] {
	border-radius: 0;
	margin-top: 0;
}

input[type="search"]:hover {

}

select {
	background-color: transparent;
	cursor: pointer;
}

.cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 4px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	background: url(../images/cd-icons2.svg) no-repeat 0 0;
	pointer-events: none;
}

.cd-search-suggestions ul {
	list-style: none;
	margin: 0;
}

.cd-search-suggestions h4 {
	padding: 0;
}

/* --------------------------------
Content cover layer
-------------------------------- */
.cd-cover-layer {
	/* cover main content when search form is open - hidden on smal devices */
	display: none;
}
@media only screen and (min-width: 1024px) {
	.cd-cover-layer {
		display: block;
		position: fixed;
		z-index: 3;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 0.3s, visibility 0.3s;
		-moz-transition: opacity 0.3s, visibility 0.3s;
		transition: opacity 0.3s, visibility 0.3s;
	}
	.cd-cover-layer.search-form-visible {
		opacity: 1;
		visibility: visible;
	}
}
