@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div id="login">
    
        Привіт,
        @if (Request.Cookies["first_name"] != null)
        {
            @Request.Cookies["first_name"].Value
        }!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Вихід</a>
        }
  
    </div>
}
else
{
    <a href="#0" class="cd-signin" id="login">Вхід</a>
}
