@model FairyTales.Models.LoginViewModel


<form action="/Account/Login" method="post" novalidate="novalidate" class="cd-form" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cd-login">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="results-auth">
        <p style="color: darkred; font-size: 120%"> @ViewBag.ErrorSignIn</p> 
    </div>
    <p class="fieldset">
        <label class="image-replace cd-email" for="signin-email">E-mail</label>
        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="Електронна пошта" name="UserName" value=@Model.UserName>
        <span class="cd-error-message">Введено невірну електронну пошту!</span>
    </p>

    <p class="fieldset">
        <label class="image-replace cd-password" for="signin-password">Пароль</label>
        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Пароль" name="Password" value=@Model.Password>
        <span class="cd-error-message">Заповніть будь ласка поле з паролем!</span>
        <a href="#0" class="hide-password">Показати</a>
    </p>
    <p class="fieldset" style="padding-left: 5px;">
        @Ajax.ActionLink("Забули пароль?", "ForgetPass", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "cd-login" })
    </p>

    <p class="fieldset no-right-margin">
        <input class="full-width" type="submit" value="Авторизуватися">
    </p>

    <!-- uLogin - авторизація через соц мережі -->
    <div data-ulogin="display=buttons;fields=first_name,last_name;
                         providers=vkontakte,facebook,google;
                         redirect_uri=http%3A%2F%2Flocalhost%3A1599%2FUserSocial%2FLogin" data-ulogin-inited="1464819237654">
        <p class="fieldset" style="margin-bottom: 30px;">
            <a data-uloginbutton="facebook" class="full-width has-padding has-border signin-social" id="signin-facebook" href="#">Увійти через Facebook</a>
        </p>

        <p class="fieldset">
            <a data-uloginbutton="vkontakte" class="full-width has-padding has-border signin-social" id="signin-vk" href="#">Увійти через VK</a>
        </p>
    </div>
    <script src="//ulogin.ru/js/ulogin.js"></script>

</form>
