    
@{
    ViewBag.Title = "Відновлення паролю";
}

<div id="Content">
    <div class="container">

        <div class="cd-user-modal-container">
            <h1 style="padding-top: 20px; padding-bottom: 0; text-align: center">Відновлення паролю</h1>
            <form action="/Account/PasswordRecovery" method="post" novalidate="novalidate" class="cd-form" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results-recovery">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div id="results-recovery">
                    
                </div>
                <p class="fieldset">
                    <label class="image-replace cd-email" for="signin-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="Електронна пошта" name="Email">
                    <span class="cd-error-message">Введено невірну електронну пошту!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signin-password">Пароль</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Пароль" name="Password">
                    <span class="cd-error-message">Заповніть будь ласка поле з паролем!</span>
                    <a href="#0" class="hide-password">Показати</a>
                </p>
                <p class="fieldset no-right-margin">
                    <input class="full-width" type="submit" value="Змінити">
                </p>
                <input type="hidden" name="Token" value=@ViewBag.RecoveryPassToken>

            </form>
        </div>
        </div>
    </div>



