@model FairyTales.Models.FairyTale

@{
    ViewBag.Title = "Редагування казки";
    Layout = "../Shared/_AdminPanelLayout.cshtml";
}

<div id="rev-content">
    <div id="rev-body">
        <div class="wrap">

            <h1>Редагування казки</h1>

            <form action="/adminpanel/edittale/@Model.Id" method="post" autocomplete="off">

                <div id="post">
                    <div id="post-body">
                        <div id="post-body-content">

                            <div id="titlediv">
                                <div class="titlewrap">
                                    <input type="text" name="title" id="title" placeholder="Введіть заголовок тут" required />
                                </div>
                                <div class="linkdiv">
                                    <label for="article_link">Посилання</label>
                                    <input type="text" name="article_link" id="article_link" placeholder="Для прикладу: tale_example" required />
                                </div>
                            </div><!-- #titlediv -->

                            <script>$(function () { $('#content').editable({ inlineMode: false,	height: 500	}) });</script>
                            <div id="contentdiv" class="postarea">
                                <div id="content-wrap">
                                    <textarea class="editor-area" name="content" id="content" placeholder="Введіть будь ласка інформацію" required></textarea>
                                </div><!-- #content-wrap -->
                            </div><!-- #contentdiv -->

                            <div id="dif_fields" class="image author">
                                <div id="thumbnaildiv">
                                    <label for="thumbnail">Основне зображення</label>
                                    <input type="text" name="thumbnail" id="thumbnail" placeholder="Для прикладу: http://macinsider.org/images/logo.png" required />
                                </div><!-- #thumbnaildiv -->

                                <div id="authordiv">
                                    <label for="author_id">Ваш порядковий номер</label>
                                    <input type="text" name="author_id" id="author_id" value="1" required />
                                </div><!-- #authordiv -->
                            </div><!-- #dif_fields -->

                            <div id="seodiv" class="seo-fields">
                                <h3 class="area-title">SEO Оптимізація</h3>
                                <div class="inside">
                                    <div class="seowrap">
                                        <div class="seo-input">
                                            <label for="article_excerpt">Короткий зміст</label>
                                            <textarea name="article_excerpt" id="article_excerpt" required></textarea>
                                        </div>
                                    </div>
                                </div><!-- .inside -->
                            </div><!-- #seodiv -->

                        </div><!-- #post-body-content -->

                        <div id="right-sidebar">
                            <div id="side-wrap">

                                <div id="submitdiv">
                                    <h3 class="area-title">Редагувати</h3>
                                    <div class="inside">
                                        <div id="submitbox">
                                            <div class="pub-actions">
                                                <div id="publicate">
                                                    <input type="submit" name="submit" id="publish" value="Відредагувати" />
                                                </div><!-- #publicate -->
                                            </div>
                                        </div>
                                    </div><!-- .inside -->
                                </div><!-- #submitdiv -->

                                <div class="panel-div">
                                    <h3 class="area-title">Автор</h3>
                                    <div class="inside">
                                        <div class="cat-id">
                                            <label for="author_id">Номер автора</label>
                                            <input type="text" name="author_id" id="author_id" placeholder="Для прикладу: 1" />
                                        </div>
                                        <div class="desc">
                                            <p>Список авторів по номеру можна побачити перейшовши по адресу: <a href="/adminpanel/authors">Всі автори</a>.</p>
                                        </div>
                                    </div><!-- .inside -->
                                </div><!-- #categorydiv -->
                                <div class="panel-div">
                                    <h3 class="area-title">Категорія</h3>
                                    <div class="inside">
                                        <div class="cat-id">
                                            <label for="cat_id">Номер категорії</label>
                                            <input type="text" name="ca_id" id="cat_id" placeholder="Для прикладу: 1" />
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Список категорії по номеру можна побачити перейшовши по адресу: <a href="/adminpanel/categories">Всі категорії</a>.
                                            </p>
                                        </div>
                                    </div><!-- .inside -->
                                </div>
                                <div class="panel-div">
                                    <h3 class="area-title">Теги</h3>
                                    <div class="inside">
                                        <div class="cat-id">
                                            <label for="tag_id">Номери тегів</label>
                                            <input type="text" name="tag_id" id="tag_id" placeholder="Для прикладу: 1, 2, 3.." />
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Список тегів по номеру можна побачити перейшовши по адресу: <a href="/adminpanel/tags">Всі теги</a>.
                                            </p>
                                        </div>
                                    </div><!-- .inside -->
                                </div>


                            </div><!-- #side-wrap -->

                        </div><!-- #right-sidebar -->
                    </div><!-- #post-body -->
                </div><!-- #post -->

            </form>

        </div><!-- .wrap -->
    </div><!-- #rev-body -->
</div><!-- #rev-content -->
