@model List<FairyTales.Entities.AspNetUser>

@{
    ViewBag.Title = "Користувачі";
    Layout = "../Shared/_AdminPanelLayout.cshtml";
}

<div id="rev-content">
    <div id="rev-body">
        <div class="wrap">
            @if (Model == null || Model.Count == 0)
            {
                <h1>На даному сайтів не знайдено жодного користувача.</h1>
            }
            else
            {
                <h1>Автори</h1>

                <table class="posts" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col" class="manage-column id">ID</th>
                            <th scope="col" class="manage-column user-name">Ім'я автора</th>
                            <th scope="col" class="manage-column is-admin">Адмін</th>
                            <th scope="col" class="manage-column edit">Змінити</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col" class="manage-column id">ID</th>
                            <th scope="col" class="manage-column user-name">Ім'я автора</th>
                            <th scope="col" class="manage-column is-admin">Адмін</th>
                            <th scope="col" class="manage-column edit">Змінити</th>
                        </tr>
                    </tfoot>
                    <tbody id="list">
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var user = Model[i];

                            <tr id="/users/@user.Id">
                                <td class="user-id">@(i + 1)</td>
                                <td class="user-name">@user.SecondName @user.FirstName</td>
                                <td class="user-admin">
                                    @if (user.IsAdmin)
                                    {
                                        @:Так
                                    }
                                    else
                                    {
                                        @:Ні
                                    }
                                </td>
                                <td class="edit-user">
                                    <a style="display: block;" href="/adminpanel/edituser/@user.Id">Редагувати</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div><!-- .wrap -->
    </div><!-- #rev-body -->
</div><!-- #rev-content -->
