<article class="post">
    <div class="post-right">
        <h2 style="text-align: center" class="entry-title">
            Ви не авторизовані.
        </h2>
        <h2 style="text-align: center" class="entry-title">Будь ласка,
            <a href="#" class="notAuth" style="color: #268679">авторизуйтесь</a>
        </h2>
    </div>
</article>
