@model List<FairyTales.Entities.Tale>
<section id="primary">
    <div class="content">
    @if (Model.Count == 0)
    {
        @Html.Partial("_FoundError")
    }
    else
    {
        foreach (var item in Model)
        {
            @Html.Partial("_ShortTaleView", item)
        }
    }
        
    </div><!-- .content -->
</section><!-- #primary -->

@if (Model.Count != 0)
{
    <div id="pagination">
        <ul>
            <li class="control-button"><a href="#" class="disabled">Назад</a></li>
            <li><a href="#0" class="current">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><span>...</span></li>
            <li><a href="#">12</a></li>
            <li class="control-button"><a href="#">Вперед</a></li>
        </ul>
    </div><!-- #pagination -->
}

<p id="back-top">
    <a href="#top"><span></span></a>
</p><!-- #back-top -->
